*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build
/app/release
E-Commerce.zip
/captures
.externalNativeBuild
.cxx
local.properties
keytool_signing
keytool_hash
log.txt
build