*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/release
/app/E-Commerce.zip
/captures
.externalNativeBuild
.cxx
local.properties
keytool_signing
keytool_hash
/app/google-services.json
log.txt