<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ln.simplechat">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity
            android:name="com.ln.simplechat.SimpleChatActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/SimpleChat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="android.example.com"
                    android:pathPattern="/chat/*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name="com.ln.simplechat.services.OnTaskRemoveService"
            android:stopWithTask="false" />

        <activity
            android:name="com.ln.simplechat.ui.bubble.BubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:exported="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="android.example.com"
                    android:pathPattern="/chat/*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>